
html, body {
	margin: 0px;
	width: 100%;
}

img.arena {
	width: 100%;
}

#arenaP {
	position: relative;
}

#pokeBall {
	position: absolute;
	bottom: 0;
	left: 40%;
	top: 460px;
	width: 33px;
	height: 56px;
	transform:scale(1,0.5);

	
}